<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <div class="row">
        <div class="logo-div col-sm-4 header-div">
          <h4><a href="/">League Manager</a></h4>
        </div>
        <div class="col-sm-4">
          <h1>Add a Team</h1>
    			<nav>
    				<ul class="list-inline">
    					<li>
    						<a href="/leagues">Leagues</a>
    					</li>
    					<li>
    						<a href="/teams">Teams</a>
    					</li>
    				</ul>
    			</nav>
        </div>
        <div class="col-sm-4 header-div">
          <ul class="list-inline">
            <% if(!currentUser) { %>
              <li>
                <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
              </li>
              <li>
                <a class="btn btn-default btn-sm" href="/users/new">Register</a>
              </li>
            <% } else { %>
              <li>
                Welcome, <%= currentUser.username %>!
              </li>
              <li>
                <form class="" action="/sessions?_method=DELETE" method="POST">
                  <input class="btn btn-default btn-sm" type="submit" value="Logout">
                </form>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
		</header>
    <hr>
		<main class="container">
      <form action="/teams" method="POST">
        <div class="form-group">
          <label for="leagueId">League</label>
          <select class="form-control" name="leagueId">
            <% for(var i = 0; i < leagues.length; i++) { %>
              <option value="<%= leagues[i]._id %>"><%= leagues[i].name %> - <%= leagues[i].sport %></option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Team Name</label>
          <input class="form-control" type="text" name="name" placeholder="Team Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="row">
          <div class="col-xs-4 form-group">
            <label for="wins">Wins</label>
            <input class="form-control" type="number" name="wins" placeholder="Wins">
          </div>
          <div class="col-xs-4 form-group">
            <label for="losses">Losses</label>
            <input class="form-control" type="number" name="losses" placeholder="Losses">
          </div>
          <div class="col-xs-4 form-group">
            <label for="ties">Ties</label>
            <input class="form-control" type="number" name="ties" placeholder="Ties">
          </div>
        </div>
        <div class="form-group">
          <input class="form-control btn btn-default" type="submit" value="Add Team">
        </div>
      </form>
    </main>
  </body>
</html>
