<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <div class="row">
        <div class="logo-div col-sm-4 header-div">
          <h4><a href="/">League Manager</a></h4>
        </div>
        <div class="col-sm-4">
          <h1>Create League</h1>
    			<nav>
    				<ul class="list-inline">
    					<li>
    						<a href="/leagues">Leagues</a>
    					</li>
    					<li>
    						<a href="/teams">Teams</a>
    					</li>
    				</ul>
    			</nav>
        </div>
        <div class="col-sm-4 header-div">
          <ul class="list-inline">
            <% if(!currentUser) { %>
              <li>
                <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
              </li>
              <li>
                <a class="btn btn-default btn-sm" href="/users/new">Register</a>
              </li>
            <% } else { %>
              <li>
                Welcome, <%= currentUser.username %>!
              </li>
              <li>
                <form class="" action="/sessions?_method=DELETE" method="POST">
                  <input class="btn btn-default btn-sm" type="submit" value="Logout">
                </form>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
		</header>
    <hr>
		<main class="container">
      <form action="/leagues" method="POST">
        <div class="form-group">
          <label for="name">League Name</label>
          <input class="form-control" type="text" name="name" placeholder="League Name" required="true">
        </div>
        <div class="form-group">
          <label for="sport">Sport</label>
          <input class="form-control" type="text" name="sport" placeholder="Sport" required="true">
        </div>
        <input class="form-control btn btn-default" type="submit" value="Create League">
      </form>
    </main>
  </body>
</html>
